.container {
    max-width: 30rem;
    margin: auto;
}


/* badge1 */

.text1 {
    margin-top: 2rem;
}

.badge1 {
    position: relative;
    top: -3rem;
    left: 6.5rem;
    background-color: red;
    width: max-content;
    font-size: 0.79rem;
    padding: 0.2rem 0.5rem;
    border-radius: 2rem;
    color: white;
    font-weight: bold;
}


/* badge2 */

.badge2 {
    position: relative;
    top: -3.4rem;
    left: 7.8rem;
    background-color: red;
    width: max-content;
    font-size: 0.79rem;
    padding: 0.5rem 0.72rem;
    border-radius: 2rem;
    color: white;
    font-weight: bold;
}


/* badge3 */

.button1 {
    padding: 0.6rem 0.8rem;
    background-color: rgb(122, 0, 236);
    color: white;
    border-radius: 0.5rem;
}

.badge3 {
    position: relative;
    top: -3.9rem;
    left: -0.8rem;
    background-color: rgb(245, 1, 123);
    width: max-content;
    font-size: 0.79rem;
    padding: 0.2rem 0.5rem;
    border-radius: 2rem;
    color: white;
    font-weight: bold;
}