.container {
    display: flex;
    align-items: center;
    background-color: rgb(221, 11, 221);
    justify-content: space-between;
    padding: 1rem;
    height: 1.5vh;
}

.hero {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.heading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.options {
    display: flex;
    gap: 2rem;
}

i {
    padding: 0.5rem;
    border-radius: 1rem;
}

i:hover {
    background-color: white;
}